.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profilePic {
  background-color: #8099ff;
  color: white;
  font-weight: 600;
  padding: 16px 18px;
  border-radius: 50px;
}

.profileName {
  color: var(--primary-gray);
}

@media (max-width: 767px) {
  .profilePic {
    padding: 12px 14px;
    font-size: 0.875rem;
  }

  .profileName {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .profilePic {
    padding: 14px 16px;
  }
}
